/* start: default css */
.body {
  margin: 0px auto;
  font-family: Roboto;
  max-width: 1440px;
  background: #f6f6f6;
}

.p--x80 {
  padding-left: 80px;
  padding-right: 80px;
}
.p--x70 {
  padding-left: 70px;
  padding-right: 70px;
}
.p--x60 {
  padding-left: 60px;
  padding-right: 60px;
}
.d--flex {
  display: flex;
}
.justify--contentbetween {
  justify-content: space-between;
}
.align--itemcenter {
  align-items: center;
}
.flex--wrap {
  flex-wrap: wrap;
}
.m--0 {
  margin: 0px;
}
.position--relative {
  position: relative;
}
.cursor--ptr {
  cursor: pointer;
}
.selectbox {
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectbox--input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.selectbox--custominput {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.selectbox--custominput:after {
  content: "";
  position: absolute;
  display: none;
}

.selectbox--input:checked ~ .selectbox--custominput:after {
  display: block;
}

.selectbox .selectbox--custominput:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hide {
  display: none;
}
/* end: default css */

/* start: header css */
.header {
  margin-top: 20px;
}
.header__logo,
.header__nav,
.header__navbar {
  align-items: center;
}

.header__logotext {
  padding-left: 100px;
  color: #e9474b;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.header__logoimg {
  position: absolute;
  top: 15px;
  width: 87px;
}
.header__nav {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header__link {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 25px 22px;
  transition: all 200ms ease-in-out;
}
.header--active {
  font-weight: 700;
}
.header__hamburgersect {
  height: 30px;
  width: 25px;
  padding: 0px 3px;
  cursor: pointer;
  display: none;
}
.header__hamburgermenu {
  position: absolute;
  right: 0px;
  top: 69px;
  background: #f6f6f6;
  z-index: 30;
  transition: all 500ms ease-out;
  height: 0px;
}
.header__hamburgershow .header__hamburgernav {
  opacity: 1;
}

.header__hamburgershow {
  height: 194px;
}
.header__hamburgernav {
  display: block !important;
  transition: all 600ms ease-in;
  opacity: 0;
}
.header__hamburger span:before,
.header__hamburger span:after {
  background-color: #e9474b;
  content: "";
  height: 2px;
  position: absolute;
  width: 109%;
}
.header__hamburger span:before {
  top: -8px;
  left: -1px;
}
.header__hamburger span:after {
  top: 6px;
  left: -1px;
}
.header__hamburger,
.header__hamburger:focus {
  background-color: transparent;
  border: 1px solid #e9474b;
  box-shadow: none;
  cursor: pointer;
  padding: 0px 20px 0px 0px;
  position: relative;
  width: 25px;
  z-index: 56;
  top: 14px;
  outline: none;
  display: none;
}

/* end: header css */

/* start: banner css */
.banner {
  background-image: url("../../assets/images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
}
.banner--img {
  display: none;
}
.banner__content {
  justify-content: flex-end;
}
.banner__rightcontent {
  max-width: 310px;
  background-color: #e9474b;
  padding: 25px 25px 50px;
  color: white;
}
.banner--latestrecipe {
  font-size: 18px;
  font-weight: 400;
}
.banner--baked {
  font-size: 36px;
  font-weight: 700;
  margin: 0px;
}
.banner--description {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 35px;
}
.banner--btn {
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  background: #fff;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}
.banner--btnimg {
  width: 10px;
  padding-left: 1px;
  top: -1px;
  position: relative;
}
/* end: banner css */

/* start: recipes css */
.recipes__mobile {
  display: none;
}
.recipes__desktop {
  display: inherit;
}
.recipes__head {
  color: #4a4a4a;
  font-size: 36px;
  font-weight: 700;
  margin: 25px 0px;
}
.recipes__filter {
  width: 230px;
  background-color: rgba(233, 71, 75, 0.9);
  padding: 10px 15px;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  align-items: center;
  transition: all 1000ms ease-out;
}
.recipes__dashimg {
  width: 12px;
  cursor: pointer;
  position: relative;
  top: -3px;
}
.recipes__dashimgvertical {
  width: 12px;
  transform: rotate(90deg);
  position: absolute;
  top: 9.5px;
  left: 0px;
  opacity: 0;
  transition: all 100ms ease-in-out;
}

.recipes__sort {
  align-items: center;
  padding-bottom: 10px;
}
.recipes__sorttext {
  color: #4a4a4a;
  font-weight: 400;
  padding-right: 10px;
  padding-left: 15px;
}
.recipes__select {
  border-radius: 4px;
  color: #2f363e;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #2f363e;
  background-color: #ffffff;
  padding: 10px 30px 10px 10px;
}
.recipes__select:focus {
  outline: none;
  border: 1px solid rgba(233, 71, 75, 0.9);
}
.recipes__selectimg {
  position: absolute;
  right: 11px;
  top: 15px;
  width: 10px;
}
.recipes__searchimg {
  width: 16px;
  padding-right: 8px;
  position: absolute;
  left: 6px;
  top: 11px;
}
.recipes__filtercontainer {
  background-color: rgba(233, 71, 75, 0.9);
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px 0px;
  transition: all 500ms ease-in-out;
}
.recipes__filtercontainer.recipes__sectionhide {
  padding: 0px;
}
.recipes__filter.recipes__filterhide {
  border-radius: 4px;
}
.recipes__filterinner {
  height: 164px;
  transition: all 500ms ease-in-out;
}
.recipes__filterhide .recipes__dashimgvertical {
  opacity: 1;
}

.recipes__sectionhide .recipes__filterinner {
  height: 0px;
  opacity: 0;
}
.recipes__filterlist {
  list-style: none;
  margin: 0px;
  padding-left: 15px;
}
.recipes__foodtype {
  border-right: 1px solid #fff;
  min-width: 257px;
  padding-bottom: 10px;
}
.recipes--head {
  padding: 0px 15px 10px;
  font-weight: 700;
  min-height: 20px;
}
.recipes--item {
  padding: 6px 0px;
}
.recipes__filterdetails {
  flex: 1;
  justify-content: space-around;
}
.recipes__filterlistwidth {
  flex: 1;
}
.recipes__searchinput,
.recipes__searchinput:focus {
  padding: 10px 0px 10px 30px;
  margin-bottom: 12px;
  border: 1px solid transparent;
  background: #f6f6f6;
  width: 100px;
  outline: none;
  border-radius: 4px;
}
.recipes__searchinput:focus {
  border: 1px solid #ea585b;
}
.recipes__searchinput::placeholder {
  color: #4a4a4a;
  opacity: 1;
  font-weight: 700;
}

.recipes__searchinput:-ms-input-placeholder,
.recipes__searchinput::-ms-input-placeholder {
  color: #4a4a4a;
  font-weight: 700;
}

.recipes__search {
  position: relative;
}
.recipes__foodtypeitem {
  width: 100%;
}
/* end: recipes css */

/* start: grid css */
.gridsection__content {
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.gridsection__card {
  flex-basis: calc(25% - 30px);
  padding: 30px 15px 0px 15px;
}
.gridsection--item {
  margin: auto;
  display: flex;
  background: #fff;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.gridsection--iteminner {
  padding: 15px;
}
.gridsection--itemimg {
  width: 100%;
  height: 280px;
  vertical-align: bottom;
}
.gridsection--description {
  color: #4a4a4a;
  font-size: 23px;
  font-weight: 300;
  padding: 10px 0px;
}
.gridsection--date {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #4a4a4a;
}
/* end: grid css */

/* start: return to the top css*/
.returntotop {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
}
.returntotop__text {
  color: #e9474b;
  font-size: 16px;
  font-weight: 500;
}
.returntotop__img {
  padding-left: 6px;
  width: 12px;
}
/* end: return to the top css*/

/* start: newsletter css*/
.newsletter {
  background: #e9474b;
  color: #fff;
  padding: 40px 0px;
}
.newsletter__head {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}
.newsletter__description {
  font-size: 16px;
  font-weight: 400;
  max-width: 400px;
}
.newsletter__label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}
.newsletter__input,
.newsletter__input:focus {
  margin-right: 30px;
  width: 250px;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #f6f6f6;
  outline: none;
}
.newsletter__content {
  padding-top: 20px;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.newsletter--bdrbtm {
  border-bottom: 1px solid #fff;
}
.newsletter__item {
  flex: 1;
}
.newsletter__remove {
  padding-right: 5px;
  cursor: pointer;
  padding-bottom: 20px;
}
.newsletter__removetext {
  padding-bottom: 20px;
  font-weight: 700;
}
.newsletter__removecontent,
.newsletter__addcontent {
  justify-content: center;
}
.newsletter__addfrd,
.newsletter__addfrd:focus {
  border-radius: 4px;
  background: #e9474b;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  margin-top: 30px;
  padding: 15px 44px;
  font-weight: 700;
  width: 178px;
  font-size: 16px;
}
.newsletter__sendcontent {
  text-align: center;
  padding-top: 20px;
}
.newsletter__sendbtn,
.newsletter__sendbtn:focus {
  border: none;
  border-radius: 4px;
  padding: 15px 45px;
  background: #fff;
  color: #4a4a4a;
  outline: none;
  font-weight: 700;
  font-size: 16px;
}
.newsletter__sendimg {
  position: relative;
  top: -1px;
  padding-left: 4px;
  width: 10px;
}
.newsletter__loading {
  text-align: center;
  padding: 30px;
}
.newsletter__error {
  height: 20px;
  margin: 1px 0px 0px 0px;
  color: #151313;
}
.newsletter__addcontent {
  margin-bottom: 20px;
}
.newsletter__removecontent {
  margin-bottom: 10px;
}
/* end: newsleeter css */

/* start: footer css */
.footer {
  padding: 30px 0px 40px 0px;
}
.footer__head {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer--para {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}
.footer__item {
  flex: 1;
  padding: 20px;
  min-width: 150px;
}
.footer__item:last-child {
  flex: 1.5;
  padding-left: 80px;
}
.footer__link {
  color: #e9474b;
  font-weight: 700;
  text-decoration: none;
}
.footer__copyright {
  font-size: 18px !important;
}
/* end: footer css */

/* media queries for all section */
@media (max-width: 1199.98px) {
  .p--x80 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .p--x60 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .newsletter__input,
  .newsletter__input:focus {
    width: 180px;
  }
  .gridsection__card {
    flex-basis: calc(33.3% - 30px);
    padding: 30px 15px 0px 15px;
  }
  .recipes__filterlistwidth {
    width: 200px;
  }
}
@media (max-width: 991.98px) {
  .newsletter__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletter__content {
    border-bottom: 1px solid #fff;
  }
  .newsletter__input,
  .newsletter__input:focus {
    width: 300px;
  }
  .newsletter__label {
    margin-top: 10px;
  }
  .newsletter__removecontent {
    margin-top: 38.5px;
  }
  .newsletter__addfrd,
  .newsletter__addfrd:focus {
    margin-top: 17px;
  }
  .newsletter__content {
    display: block !important;
  }
  .newsletter__input {
    width: calc(100% - 24px);
  }
  .newsletter__addfrd {
    width: 100%;
  }
  /* .newsletter__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  } */
  /* .newsletter--bdrbtm {
    border: none;
  } */
  .gridsection__card {
    flex-basis: calc(50% - 30px);
    padding: 30px 15px 0px 15px;
  }
  .header__link {
    font-size: 15px;
    padding: 15px 8px;
  }
  .header__logotext {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer .d--flex {
    display: block;
  }
  .footer__item {
    margin: 0px 20px 20px 20px;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #ddd;
  }
  .copy__item {
    padding: 5px 0px 5px 0px !important;
    border-bottom: none !important;
  }
  .footer--copyhead {
    font-size: 20px !important;
  }
}
@media (max-width: 767.98px) {
  .banner {
    background: none;
  }
  .banner__content {
    flex-direction: column;
  }
  .banner--img {
    display: block;
    width: 100%;
  }
  .header__nav,
  .recipes__desktop {
    display: none;
  }
  .recipes__mobile {
    display: flex;
  }
  .header__hamburgersect,
  .header__hamburger {
    display: block;
  }
  .banner__rightcontent {
    margin: 0px auto;
    position: relative;
    max-width: 100%;
  }
  .recipes__sort {
    justify-content: space-between;
    padding-top: 24px;
  }
  .recipes__select {
    width: 250px;
  }
  .recipes__container,
  .recipes__filterandsort {
    flex-direction: column;
  }
  .recipes__search {
    /* justify-content: flex-end; */
    padding-bottom: 0px;
    position: relative;
    margin-top: 10px;
  }
  .recipes__sorttext {
    padding-left: 0px;
  }
  .recipes__foodtypeitem,
  .recipes__filterinner {
    display: block;
  }
  .recipes--headempty {
    display: none;
  }
  .recipes__filter {
    width: inherit;
  }
  .recipes__foodtype {
    border-right: none;
    border-bottom: 1px solid;
    margin-bottom: 10px;
  }
  .recipes__filtercontainer {
    border-top-right-radius: 0px;
  }
  .recipes__filtercontainer {
    padding: 10px;
  }
  .recipes__filtertext {
    padding-left: 10px;
  }
  .recipes__filterinner {
    height: 577px;
  }
}
@media (max-width: 575.98px) {
  .gridsection__card {
    flex-basis: calc(100% - 30px);
    padding: 30px 15px 0px 15px;
  }
  .banner--baked {
    font-size: 23px;
  }
  .header__logotext {
    padding-left: 63px;
  }
  .header__logoimg {
    width: 60px;
  }
  .banner__rightcontent {
    max-width: 100%;
  }
  .recipes__search {
    justify-content: flex-start;
  }
  .recipes__foodtype,
  .recipes__foodtypeitem {
    flex: 1;
  }

  .recipes__filterinner {
    flex-wrap: wrap;
  }
  .recipes__foodtype {
    border-right: none;
    border-bottom: 1px solid;
    min-width: 100%;
  }
  .recipes__filter {
    width: calc(100% - 30px);
  }
  .recipes__filtercontainer {
    border-top-right-radius: 0px;
  }
  .recipes__foodtypeitem {
    margin-top: 20px;
  }
  .newsletter__input,
  .newsletter__input:focus {
    margin: 0px;
    /* width: 250px; */
  }
  .footer__item:last-child {
    padding: 20px;
  }
  .recipes__select {
    width: 198px;
  }
}
